body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: #d862bc;
  text-align: center;
}
form {
  border: 1px solid white;
  padding: 30px 50px;
}
input {
  padding: 5px 3px;
  outline: none;
  border: 1px solid #eeeeee;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
}
button {
  border: none;
  padding: 5px 7px;
  color: white;
  background-color: #114232;
}
